////////////////////////////
// Cross Browser Support
$graceful-usage-threshold: 100;
$critical-usage-threshold: 100;

$browser-minimum-versions: (
  "ie": "9",
  "android": "4",
  "chrome": "37",
  "safari": "7",
  "firefox": "30",
  "ios-safari": "8"
);
////////////////////////////

////////////////////////
// Compass Imports
@import "compass";
@import "compass/reset";
////////////////////////

////////////////////////
// Compass Extensions
@import "toolkit";
@import "toolkit/kickstart";
@import "breakpoint";
@import "singularitygs";
@import "modular-scale";
////////////////////////

//////////////////////////////
// GLOBALS
@import "partials/global/variables";
@import "partials/global/functions";
@import "partials/global/mixins";
@import "partials/global/extends";
//////////////////////////////

//////////////////////////////
// COMPONENTS

//////////////////////////////

//////////////////////////////
// LAYOUTS

//////////////////////////////
